<div class="page-container">
  <app-navbar></app-navbar>

  <!-- Spinner من ngx-spinner -->
  <ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  size="large" color="#0e81ce"
  type="ball-atom"
  [fullScreen]="true">
  <p style="color: white" class="mt-5">Loading...</p>
  </ngx-spinner>

  <!-- Spinner البديل أثناء التحميل -->
  <div class="loading-overlay" *ngIf="loading">
    <img src="shoply_logo_transparent.png" alt="Logo" class="loading-logo">
  </div>

  <!-- المحتوى الرئيسي -->
  <main class="content-wrap">
    <router-outlet></router-outlet>
  </main>

  <app-footer></app-footer>
</div>
